    :root {
      --primary: #004E50;
      --secondary: #337173;
      --tertiary: #ffffff;
    }


.notion-input {
        @apply w-full bg-transparent px-2 py-1 text-sm border-none focus:outline-none rounded text-gray-800;
      }
      .notion-input:focus {
        @apply ring-1 ring-indigo-300 bg-white;
      }
      tr:hover .notion-input {
        @apply bg-gray-50;
      }
      table input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0.5;
      }

  td,
  th {
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  input[title]:hover {
    cursor: help;
  }

    .duplicate-row {
    background-color: #f3e8ff;
    border-left: 4px solid #a855f7;
  }
  
.px-3{
  padding-right: 0 !important;
}